{% extends 'main/layout.html' %}

{% block title %}
    Логин
{% endblock %}

{% block head %}
  <style>
        ul {
          list-style-type: none;
        }

        main {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .features {
            display: flex;
            flex-flow: column;
            align-self: center;
            font-family: Open Sans;
            font-stretch: expanded;
            margin-top: 70px;
            padding: 50px;
            border-radius: 25px;
            backdrop-filter: blur(12px);
        }

        .features * {
            align-self: center;
        }

        .features h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            color: #D9D4D6;
            margin-bottom: 25px;
        }

        .features form {
            display: flex;
            flex-flow: column;
            width: 100%;
            color: #D9D4D6;
        }

        .features form ul {
            width: 70%;
            color: #fff;
        }

        .features form ul li input {
            width: 100%;
            color: #000;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            border: none;
        }

        .features form * {
            padding: 10px;
        }

        .features form button, .btn {
            margin-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            border-radius: 1px;
            font-weight: 500;
        }

        .features .passres {
            margin-top: 10px;
            text-decoration: none;
            transition: transform .25s ease;
            color: #D9D4D6;
        }

        .features .passres:hover {
            transform: scale(1.05);
            color: #B8B8B8;
            cursor: pointer;

        }
    </style>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Авторизация на сайте</h1>

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            <ul>
                <li>Логин</li>
                <li>
                    {{ form.username }}
                </li>
                <li>Пароль</li>
                <li>
                    {{ form.password }}
                </li>
            </ul>
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light">ВОЙТИ</button>
            <a href="{% url 'register' %}" class="btn btn-outline-light">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            <a href="#" class="passres">Забыли пароль?</a>
        </form>
    </div>
{% endblock %}